#*
Template variables:
	user = user's real name
	language = language name
	actions = list of menu links
*#

#from xhtml import xhtml
#extends xhtml
#def title

#end def
#def body
<h1>Prompts</h1>
<p>After you've translated all the items, you can choose to record them all at once and upload them here.  This can be easier than uploading an individual file for each prompt if you have a lot to upload.  Typically, you only need to do this batch upload of prompts if you are recording your entire translation for the first time.</p>

<h2>Get Obi</h2>
<p>Obi is the name of the recording tool you will use to do the recording.  You can <a href="http://www.daisy.org/projects/obi/">download Obi</a> here.  For general help with Obi, please read the <a href="http://daisy-trac.cvsdude.com/obi/wiki/documentation">documentation</a>.</p>

<h2>Get your prompts</h2>
<p>Click the link to see all your prompts. Save the page to your hard drive.</p>

<form action="generate_prompts" method="POST" enctype="multipart/form-data">
<input type="Submit" value="Generate prompts"/>
</form>

<h2 id="create_obi_projects">Create an Obi project</h2>

<p>You now have an HTML file with all of your prompts.  Find where you saved it in the previous step.</p>
    
<ul>
    <li>Start Obi</li>
    <li>Create a new project by importing a file</li>
    <li>Choose one file (e.g. "amis_prompts.html") as your import file.</li>
    <li>You should see all your prompts on the screen, each as a section heading.</li>
    <li>Go under "View" and uncheck "Wrapping in Content View".  This will improve Obi's performance in this particular case.</li>
    <li>Record audio for each prompt. Check your work as you go.  It is better to go slowly and leave some silence around each audio clip.  We can trim it for you as part of the post-processing.</li>
    <li>As you record, you can press H to go to the next section and continue recording.  However, when you reach then end of your sections list, if you press H, Obi will start creating sections called "Untitled Section".  Simply delete any "Untitled Section" entries.  It is important that there are no extra sections and no missing sections.</li>
</ul>

<h2>Prepare your project</h2>
<p>Perform these actions from Obi and accept the default options:</p>
<ul>
	<li>Under the &quot;Tools&quot; menu, select &quot;Export as DAISY&quot;</li>
	<li>Under the &quot;Tools&quot; menu, select &quot;Convert audio to MP3&quot;
</ul>
<p>Then exit Obi. Find your project folder and look for a subfolder called &quot;MP3 Export&quot;.  Create a zip of that folder.</p>

<h2>Upload your file</h2>
<p>Upload your project as a zipped file.  Please remain on this page until your upload has completed.</p>
<form action="upload_zipfile_of_prompts" method="POST" enctype="multipart/form-data">
<input type="file" name="infile" value="Browse"/>
<input type="Submit" value="Upload"/>
</form>



<p><a href="../MainMenu">Back to the main menu</a></p>
#end def
