#*
Template variables:
	user = user's real name
	language = language name
	actions = list of menu links
    addldocsuri = URI for additional documents download
    addldocsdesc = description of the additional documents
*#

#from xhtml import xhtml
#extends xhtml
#def title
Main menu
#end def
#def translate_for_keyboard
False
#end def
#def body
<h1>Welcome</h1>
<p>Hello $user. You are working on $language.</p>
<h1>Actions</h1>
<ul>
	<li><a href="../TranslateStrings?view=all">Translate strings</a></li>
	#if $translate_for_keyboard == True:
	<li><a href="../ChooseAccelerators?view=all">Assign keyboard shortcuts</a></li>
	<li><a href="../ChooseMnemonics?view=all">Choose mnemonics</a> (single-letter shortcuts)</li>
	#end if
	<li><a href="../RecordAllPrompts">Record your prompts with Obi and upload the data</a></li>
    #if $addldocsuri != ""
	<li><a href="$addldocsuri">Download additional documents for translation</a> ($addldocsdesc)</li>
    #end if
</ul>
#end def
