#from xhtml import xhtml
#extends xhtml
#def title
#end def
#def body
<h1>Upload Completed</h1>
<p>File upload completed!  If there are any issues with your file, you will be contacted by a member of our team.</p>
<p><a href="../../MainMenu">Return to the tasks menu</a></p>
#end def
