<div class="warning">
	<h2>Warning!</h2>
		#if $warning_data != None and len($warning_data) > 1:
			<ul>
				#for $link in $warning_data
					<li>There is a conflict in <a href="#$link">this group</a></li>
				#end for
			</ul>
		#elif $warning_data != None and len($warning_data) == 1:
			<p>$warning_data[0]</p>
		#end if
		<p>Fix the problem(s) and save the item(s).</p>
</div>

