#if $warning_links != None and len($warning_links) > 0
<div class="warning">
	<h2>Warning!</h2>
		<h3>Conflicts found:</h3>
		<ul>
		#for $link in $warning_links
			<li>There is a conflict in <a href="#$link">this item or group</a></li>
		#end for
		</ul>
		<p>Fix the problem and save the item(s).</p>
</div>
#end if
