#*
Template variables:

	actions = navigation links
	about = about this page
	view_description = about this page view
	count = number of items being displayed
	form = table rows, each containing a translation form
	check_conflict = if True, the check conflict button will appear
	warning_links = a list of links to go along with a warning
	warning_message = a warning message
	show_no_conflicts = if True, show a message area that says "no conflicts"
*#

#from xhtml import xhtml
#extends xhtml
#def title
AMIS translation for $language: $section section
#end def
#def body
<h1>$title</h1>
<div id="navigation">
	<a href="../TranslateStrings?view=all">Translate strings</a> | 
	<a href="../ChooseAccelerators?view=all">Assign keyboard shortcuts</a> | 
	<a href="../ChooseMnemonics?view=all">Choose mnemonics</a> (single-letter shortcuts)
</div>

<div class="description">
	<p>$about</p>
	<p>Showing $view_description ($count items)</p>
</div>
<div>
    <form action="change_view" method="POST">
        <select name="viewfilter">
            <option value="all">all items</option>
            <option value="newtodo">all items marked new or to-do</option>
            <option value="new">all new items</option>
            <option value="todo">all to-do items</option>
        </select>
        <input type="submit" value="Change view" />
    </form>
</div>
<br/>

#if $check_conflict
<p>When you have finished with all items, be sure to press the <em>Check for Conflicts</em> button</p>
<form action="check_conflicts"><input type="submit" value="Check for conflicts"/></form>	
<br/>
#end if

#if ($warning_links != None and len($warning_links) > 0) or ($warning_message != None and len($warning_message) > 0)
<div class="warning">
	<h2>Warning!</h2>
	#if $warning_links != None and len($warning_links) > 0
		<h3>Conflicts found:</h3>
		<ul>
		#for $link in $warning_links
			<li>There is a conflict in <a href="#$link">this group</a></li>
		#end for
		</ul>
	#end if

	#if $warning_message != None and len($warning_message) > 0
		<p>$warning_message</p>
	#end if
</div>
#end if

#if $show_no_conflicts
<div class="message">
	<p>No conflicts</p>
</div>
#end if

## the big table
<div>$form</div>

#end def