#*
Template variables:
	title = page title
	body = page body
*#
### use this for running the lion locally:
### #set $base_url = "http://localhost:8080/style/"
#set $base_url = "http://92.243.13.151:8080/style"
#set $css = $base_url + "l10n.css"
#set $icon = $base_url + "lionicon.ico"
#set $logo = $base_url + "lion144.png"
#def targetid
#end def
<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
    	<title>$title</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    	<link href="$css" rel="stylesheet" type="text/css"/>
		<link rel="icon" href="$icon"/>
		<script language="javascript">
			function scroll() 
			{
				var the_id = "$targetid";
				if (the_id.length > 0)
					window.location.hash = the_id;
			}
		</script>
  	</head>
  	<body onload="scroll()">
		<div id="header">
			<img src="$logo" 
				alt="logo for the DAISY Lion" height="91.5" width="108"/>
			<h1>The DAISY Lion</h1>
			<p>Web-based localization system</p>
		</div>
		$body
	</body>
</html>
