#from xhtml import xhtml
#extends xhtml
#def title
Login
#end def
#def body
<h1>$title</h1>
#if $message != None or len($message) > 0
<p>$message</p>
#end if
<form action="process_login" method="post">
  <p>
    <label>User name:</label>
    <input type="text" name="username" value=""/>
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password" value=""/>
    <input type="submit" value="Submit" />
  </p>
</form>
#end def
