#*
Template variables:
	user = user's real name
	language = language name
	actions = list of menu links
*#

#from xhtml import xhtml
#extends xhtml
#def title
Main menu
#end def
#def body
<h1>Welcome</h1>
<p>Hello $user. You are working on $language.</p>
<h1>Actions</h1>
<ul>
	#for $a in $actions
	<li>$a</li>
	#end for
</ul>
#end def
