#*
rows = each row has these fields:
	xmlid, textstring, textflag, remarks, ref_string, our_remarks

instructions = what the translator should do	
handler = the function to handle the form submission
width = the width of the text box for the translation
height = the height of the text box for the translation
langid = the id of the language being translated into
*#
<table>
#for $r in $rows
#if $r["textflag"] == 1:
	#set $ok = "checked"
#elif $r["textflag"] == 2:
	#set $todo = "checked"
#end if
<tr>
<form action="$submit" method="POST">
<td width="30%%">$r["ref_string"]</td>
<td>
    <p class="comments">$r["our_remarks"]</p>
    $instructions
    <textarea id="$xmlid" name="translation" cols="$width" rows="$height">$r["textstring"]</textarea>
    <p class="comments">Remarks from you:</p>
	<textarea class="remarks" name="remarks" cols="64" rows="2">$r["remarks"]</textarea>
</td>
<td>
	<p>Status:</p>
	<input name="status" type="radio" $ok value="1"/>
	<span class="ok">OK</span><br/>
	
	<input name="status" type="radio" $todo value="2"/>
	<span class="todo">TODO</span><br/>
	
</td>
<td>
	<input type="submit" value="Save" style="align: bottom"/>
	<input type="hidden" name="xmlid" value="$r["xmlid"]"/>
	<input type="hidden" name="langid" value="$r["langid"]"/>
</td>
</form>
</tr>
#end for
</table>