#*
Template variables:
	user = user's real name
	language = language name
	actions = list of menu links
	prompts_uri = address of the zipfile for the prompts
*#

#from xhtml import xhtml
#extends xhtml
#def title

#end def
#def body
<h1>Prompts</h1>
<p>After you've translated all the items, you can choose to record them all at once and upload them here.  This can be easier than uploading an individual file for each prompt if you have a lot to upload.  Typically, you only need to do this batch upload of prompts if you are recording your entire translation for the first time.</p>

<h2>Get Obi</h2>
<p>Obi is the name of the recording tool you will use to do the recording.  You can <a href="http://www.daisy.org/projects/obi/">download Obi</a> here.  For general help with Obi, please read the <a href="http://daisy-trac.cvsdude.com/obi/wiki/documentation">documentation</a>.</p>

<h2>Get your prompts</h2>
<p>Click the link to download a zipped file of all your prompts.  Unzip this file and save the contents to your hard drive.</p>

<p>
<a href="$prompts_uri">Download all prompts</a>
</p>

<h2 id="create_obi_projects">Create Obi projects</h2>

<p>After unzipping that file, you will have two XHTML files, each with half of your prompts.  They are named "amis_prompts_part_one.html" and "amis_prompts_part_two.html".</p>
    
<ul>
    <li>Start Obi</li>
    <li>Create a new project by importing a file</li>
    <li>Choose just one file (e.g. "amis_prompts_part_one.html") as your import file.</li>
    <li>You should see all your prompts on the screen, each as a section heading.</li>
    <li>Go under "View" and uncheck "Wrapping in Content View".  This will improve Obi's performance in this particular case.</li>
    <li>Record audio for each prompt. Check your work as you go.  It is better to go slowly and leave some silence around each audio clip.  We can trim it for you as part of the post-processing.</li>
    <li>As you record, you can press H to go to the next section and continue recording.  However, when you reach then end of your sections list, if you press H, Obi will start creating sections called "Untitled Section".  Simply delete any "Untitled Section" entries.  It is important that there are no extra sections and no missing sections.</li>
</ul>

<h2>Prepare your projects</h2>
<p>Perform these actions from Obi and accept the default options:</p>
<ul>
	<li>Under the &quot;Tools&quot; menu, select &quot;Export as DAISY&quot;</li>
	<li>Under the &quot;Tools&quot; menu, select &quot;Convert audio to MP3&quot;
</ul>
<p>Then exit Obi. Find your project folder and look for a subfolder called &quot;MP3 Export&quot;.  Create a zip of that folder.</p>

<p><em>Repeat</em> for "amis_prompts_part_two.html" by creating a new Obi project and following the steps in this section ("Create Obi projects") to record it.</p>

<h2>Upload your files</h2>
<p>Upload each project as a zipped file.  Please remain on this page until your upload has completed.  After the first zipfile upload is complete, you may begin the second one.</p>
<form action="upload_zipfiles_of_prompts" method="POST" enctype="multipart/form-data">
Zip file for Obi project containing first set of prompts:<br/> 
<input type="file" name="infile1" value="Browse"/>
<br/><br/>
Zip file for Obi project containing second set of prompts: <br/>
<input type="file" name="infile2" value="Browse">
<br/><br/>
<input type="Submit" value="Upload"/>
</form>



<p><a href="../MainMenu">Back to the main menu</a></p>
#end def
