#*
Template variables:
	user = user's real name
	language = language name
	actions = list of menu links
    addldocsuri = URI for additional documents download
    addldocsdesc = description of the additional documents
*#

#from xhtml import xhtml
#extends xhtml
#def title
Main menu
#end def
#def body
<h1>Welcome</h1>
<p>Hello $user. You are working on the $language translation for <a href="$appsite">$appname</a>, version $appversion.</p>
<h1>Tasks</h1>
<ul>
	<li><a href="../TranslateStrings?view=all">Translate strings</a></li>
	#if $translate_accelerators == True:
	<li><a href="../ChooseAccelerators?view=all">Assign keyboard shortcuts</a></li>
	#end if
	#if $translate_mnemonics == True:
	<li><a href="../ChooseMnemonics?view=all">Choose mnemonics</a></li>
	#end if
	#if $audio_support == True:
		<li><a href="../RecordAllPrompts">Record your prompts with Obi and upload the data</a></li>
    #end if
	#if $addldocsuri != None and $addldocsuri != ""
	<li><a href="$addldocsuri">Download additional documents for translation</a> ($addldocsdesc)</li>
    #end if
</ul>
#if $comments != None and $comments != ""
<h2>Comments</h2>
<p>$comments</p>
#end if
#end def
