
#*
Template variables:

	searchList = a row with these fields:
		xmlid, textstring, textflag, remarks, ref_string, our_remarks, thekeys, keymask

	instructions = what the translator should do	
	handler = the function to handle the form submission
	width = the width of the text box for the translation
	height = the height of the text box for the translation
	langid = the id of the language being translated into
	
Identical to tablerow except for the dataentry part.This should really be derived from tablerow but it's not working; I suspect because Cheetah #blocks can't have arguments.

*#

#if $textflag == 1
	#set $ok = "checked"
	#set $todo = ""
	#set $classattr = "ok"
#elif $textflag == 2
	#set $todo = "checked"
	#set $ok = ""
	#set $classattr = "todo"
#elif $textflag == 3
	#set $classattr = "new"
	#set $todo = ""
	#set $ok = ""
#end if
<tr>
<form action="save_data" method="POST">
<td width="30%%">$ref_string</td>
<td>
    <p class="comments">$our_remarks</p>
    
	## start of dataentry area
	## this looks like KEYMASK + small textbox for entering a letter 
	#if len($thekeys) > 0
	$instructions 
	#end if
	Remember to <em>Save</em>.<br/><br/>
	Shortcut: <span class="$classattr">$keymask</span>
	#if len($thekeys) > 0
	<textarea id="keys_$xmlid" name="thekeys" cols="5" rows="1" class="$classattr">$thekeys</textarea>
	#end if
	<br/>
	## and then another text box for entering the label for the entire shortcut
	<p>Now type the human-readable version of the shortcut.  For example, your language might have its own words or abbreviations for Space or Control.</p>
	<textarea id="$xmlid" name="translation" cols="30" rows="3" class="$classattr">$textstring</textarea>
	<input type="hidden" name="keymask" value="$keymask"/>
	## end of dataentry area
	
	<p class="comments">Remarks from you:</p>
	<textarea class="remarks" name="remarks" cols="64" rows="2">$remarks</textarea>
</td>
<td width="100px">
	<p>Status:</p>
	<input name="status" type="radio" $ok value="1"/>
	<span class="ok">OK</span><br/>
	
	<input name="status" type="radio" $todo value="2"/>
	<span class="todo">TODO</span><br/>
	
</td>
<td>
	<input type="submit" value="Save" style="align: bottom"/>
	<input type="hidden" name="xmlid" value="$xmlid"/>
	<input type="hidden" name="langid" value="$langid"/>
	#if len($thekeys) == 0:
	<input type="hidden" name="thekeys" value="XXXX"/>
	#end if
</td>
</form>
</tr>
